* {
  font-family: 'Roboto';
}

h1 {
  font-weight: 100;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 1.2em;
}

.options {
  align-items: flex-start;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  margin-left: 20px;
  margin-right: 20px;
}

.qualities {
  align-items: center;
}

p.option {
}

.option-input {
  width: 100%;
}