.home-main-div {
	margin: 0;
	padding: 0;
  background-color: #101d5b;
}

.home-background-image {
	opacity: 1;
	top:0;
	left:0;
	position: relative;
}

.home-header-container {
	position: relative;
	margin: 0 auto;
	z-index: 10;
}

.home-header-text {
	font-size: 10vmin;
	font-weight: bold;
	color:white;
	font-family: 'Roboto' ;
}

.home-sign-in {
	margin:0 auto;
}

.home-sign-in-button {
	width: 100%;
}

.home-sing-up-button {
	width: 100%;
}



/** Buttons **/

.btn {
  background-color: #ff397f;
  border-radius: 2em;
  border: 0.2em solid #ff397f;
  color: white;
  cursor: pointer;
  font-size: 5vmin;
  padding: 0.7em 1.5em;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.25s ease;
}

.btn:hover {
  background: #c4c4c4;
  color: black;
}

.btn--login {
  margin: 0 auto;
}